.btnguardar{
  color: green;
  border: 2px solid green;
}
.btnlimpiar{
  color: blue;
  border: 2px solid blue;
}
.add{
  background-color: blue;
}
.input{
  color: black;
}
.delete{
  background: none;
  border: 2px solid red;
  color: red;
}
.bordes{
  border: 2px silver;
  width: 500px;
  border-style: dotted;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.tickear{
  color: silver;
}
.mat-form-field-wrapper {
  width: 300px;
}
.container {
  margin: auto;
  text-align: center;
}

button:not(.eliminar) {
  margin: 2rem 1rem;
}

p {
  border: 1px dotted darkgray;
  width: 30%;
  text-align: center;
  margin: auto;
  padding: 1rem;
  border-radius: 100px;
  margin-top: 1rem;
}

.aceptar {
  margin: 0 3rem;
}

.lista-utiles {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 40%;
  margin: auto;
  text-align: left;
}
body{
  background-color: white;
}

